 ul{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: lavender;
  top: 0%;
  
}

li{
  display: inline;
  float: left;
  overflow: hidden;
}

li a{
  display: block;
  text-decoration: none;
  padding: 15px 40px;
  color: 156079;
  font-size: 20px;
}

  li a:hover {
  background-color: 22333B;
  font-size: 20px;
